.list-container table {
    width: 1276px;
    border-collapse: collapse;
}

.list-container table th {
    /* position: -webkit-sticky; */
    /* position: sticky; */
    /* top: 0; */
    font-size: 18px;
    padding: 10px 0;
    text-align: left;
    background-color: #fff;
}

.list-container table th:first-child {
    padding-left: 10px;
}

.list-container table th:last-child {
    border-right: none;
    padding-right: 10px;
}

.list-container table td {
    padding: 5px 0;
    text-align: left;
    border-top: 1px solid #66b1ee;
}

.list-container table td:first-child {
    padding: 5px 0;
}

.list-container td img {
    width: 200px;
    height: 100px;
}

.option {
    display: none;
    position: fixed;
    top: 29.3%;
    right: 0;
    bottom: 0;
    left: 16%;
    background-color: #000;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
}

.cross {
    color: #fff;
    font-size: 20px;
    float: right;
    padding: 5px 10px;
    margin-right: 20px;
}

.cross:hover {
    color: red;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
    cursor: pointer;
}

.status {
    display: block;
    text-align: center;
}

.status-bar {
    color: red;
    font-weight: bold;
}

.btn-modify {
    color: #66b1ee;
    background-color: transparent;
    font-weight: bold;
}

.btn-modify:hover {
    color: aqua;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    .list-container table {
        width: 100%;
    }
    .list-container table th, td {
        font-size: 11px;
    }
    .list-container table th:first-child, td:first-child {
        display: none;
    }
}