.about-navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline-start: 0;
}

.about-navbar li {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #dddddd;
}

.about-navbar li:last-child {
    border-right: none;
}

.about-navbar li a {
    color: #66b1ee;
    font-weight: bold;
    text-decoration: none;
}

.about-navbar li a:hover {
    color: #000;
}