.about-navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 15px 0;
    padding-inline-start: 0;
    background-color: #fff;
}

.about-navbar li {
    padding: 0 15px;
    border-right: 1px solid #dddddd;
}

.about-navbar li:last-child {
    border-right: none;
}

.about-navbar li a {
    color: #66b1ee;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.classValue {
    border-bottom: 2px solid #66b1ee;
}

@media (max-width: 768px) {
    .about-navbar li {
        padding: 0 4px;
        margin-right: 5px;
    }
}