.home-about-header {
    text-align: center;
    line-height: 20px;
    margin-bottom: 60px;
}

.home-about-header h1 {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

/* .home-about-header p {} */

.home-about-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-about-left {
    padding-right: 15px;
    line-height: 20px;
}

.home-about-left-top-content {
    margin-top: -16px;
    padding-bottom: 25px;
}

.home-about-left-bottom-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.two-column-about-content img {
    height: 60px;
}

.two-column-about-content h4 {
    text-transform: uppercase;
}

.two-column-about-content a {
    text-decoration: none;
}

.two-column-about-content a:hover {
    color: #66b1ee;
}

.see-more-icons {
    vertical-align: middle;
}

.home-about-right img {
    height: 400px;
}

@media (max-width: 768px) {
    .home-about-body {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .home-about-left-bottom-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .home-about-left {
        padding-right: 0;
    }
    .two-column-about-content {
        margin: 15px 0;
    }
    .home-about-right img {
        width: 100%;
    }
}