.learn-more-wrapper {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../Assets/Home-images/Background/bg-learnmor.jpg") fixed center center;
    background-size: cover;
    color: #c2c2c2;
}

.learn-more-body {
    text-align: center;
    padding: 50px 0;
}

.learn-more-body h1 {
    font-size: 30px;
    text-transform: uppercase;
}

.learn-btn {
    height: 40px;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px 15px;
    color: azure;
    border: 1px solid #bd1010;
    background-color: #bd1010;
    transition: all 1s;
}

.learn-btn:hover {
    border-color: azure;
    background-color: transparent;
    cursor: pointer;
}

@media (max-width: 768px) {
    .learn-more-body h1 {
        line-height: 40px;
    }
}