.footer-wrapper {
    font-size: 14px;
    font-weight: 500;
    padding: 20px 0;
    color: #c2c2c2;
    background-color: #616161;
}

.footer-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-info h2 {
    text-transform: uppercase;
}

.footer-info ul {
    list-style: none;
    padding-inline-start: 0;
}

.footer-info li {
    padding: 15px 0;
    border-bottom: 1px solid #888888;
}

.footer-info li:last-child {
    border-bottom: none;
}

.footer-info li a {
    color: #d3a59d;
    text-decoration: none;
}

.footer-info li a:hover {
    color: #66b1ee;
}

.footer-bottom-body {
    font-size: 14px;
    padding: 5px 0;
    color: #a8a8a8;
    background-color: #313131;
}

.footer-bottom-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.f-icons {
    padding-right: 5px;
    vertical-align: middle;
}

.footer-share-option, .footer-share-option ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.footer-share-option ul li {
    margin: 0 5px;
    vertical-align: middle;
}

.footer-share-option ul li:hover {
    color: #66b1ee;
    cursor: pointer;
}

@media (max-width: 768px) {
    .footer-bottom-content {
        margin: 0;
    }
}