.login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
}

.login-txt img {
    width: 100%;
    height: 240px;
}

.login-wrapper {
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 15px;
    background-color: #fff;
    text-align: center;
    box-shadow: #959da533 0px 0px 10px;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

.login-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.create-account {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.login-wrapper input {
    width: 220px;
    height: 20px;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: transparent;
    border: 2px solid #dcdcdc;
    border-radius: 20px;
}

.login-wrapper input:hover {
    border: 2px solid #aaaaaa;
    transition: all .5s;
}

.login-wrapper input:focus {
    outline: none;
    border: 2px solid #66b1ee;
    transition: all .5s;
}

.submit-btn {
    width: 50%;
    height: 35px;
    font-size: 16px;
    border: 2px solid #96cefc;
    background-color: aliceblue;
    border-radius: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

.provider-account img {
    height: 26px;
    padding: 5.4px;
    margin-bottom: -14px;
    border-right: 2px solid #66b1ee;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.provider-account button {
    width: 203px;
    font-size: 14px;
    padding: 10px 0;
    background-color: transparent;
    cursor: pointer;
}

.provider-account {
    margin: 5px 0;
    background-color: aliceblue;
    border: 2px solid #96cefc;
    border-radius: 20px;
}

.provider-account:hover {
    border: 2px solid #66b1ee;
    transition: all .5s;
}

@media (max-width: 768px) {
    .login-container, .login-wrapper {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .login-txt {
        font-size: 14px;
        text-align: center;
        display: block;
    }
    .create-account, .login-account {
        padding: 0;
        border: none;
    }
    .provider-account {
        padding-bottom: 20px;
    }
}