.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient( #00000099, #00000099);
}

.modal-body {
    position: fixed;
    top: 10%;
    right: 8%;
    bottom: 10%;
    left: 8%;
    padding: 20px 25px;
    background-color: #fff;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-animation: zoomIn 0.5s both;
    animation: zoomIn 0.5s both;
}

.close {
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    margin: 20px 50px 0 0;
    float: right;
}

.close:hover {
    color: red;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
    cursor: pointer;
}

/* Animation modal open */
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

/* Media queries */
@media (max-width: 768px) {
    .close {
        margin-right: -1px;
    }
}