.resume-container {
    display: flex;
    vertical-align: middle;
}

.resume-img img {
    width: 500px;
    height: 440px;
    margin-right: 20px;
}

.resume-body {
    width: 100%;
    height: 435px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}