.modal-app-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-app-contents {
    flex-basis: 60%;
    margin-right: 15px;
}

.modal-app-features {
    flex-basis: 40%;
}

.content-header img {
    width: 100%;
    height: 100%;
}

.order-btn {
    width: 100%;
    font-size: 20px;
    padding: 10px 15px;
    color: #fff;
    background-color: #66b1ee;
    cursor: pointer;
}

.order-btn:hover {
    background-color: #66b1dd;
}

@media (max-width: 768px) {
    .modal-app-wrapper {
        flex-direction: column;
    }
    .modal-app-contents h1, h2 {
        font-size: larger;
    }
    .content-header img {
        width: 100%;
        height: auto;
    }
    .modal-btn {
        margin: 10px 20px 5px 0;
        font-size: 14px;
        width: 130px;
    }
}