.app-header img {
    height: 300px;
}

.modal-app-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-app-contents {
    flex-basis: 60%;
}

.modal-app-features {
    flex-basis: 40%;
}













@media (max-width: 768px) {
    .app-header h1, .content-header h2, .feature-header h2 {
        font-size: 20px;
    }
    .app-header h3 {
        font-size: 16px;
    }
    .modal-app-wrapper {
        flex-direction: column;
    }
    .app-header img {
        width: 100%;
        height: auto;
    }
}