.multiple-page-app-wrapper h2 {
    padding: 10px 0 10px 0;
    border-bottom: 2px solid #cfe8fd;
    /* position: relative; */
}

/* .multiple-page-app-wrapper h2:after {
    content: '';
    position: absolute;
    display: block;
    width: 105px;
    height: 3px;
    background: tomato;
    border-right: 5px solid #fff;
    bottom: -2px;
    left: 0;
} */

.multiple-page-app-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .multiple-page-app-wrapper h2 {
        font-size: 20px;
    }
    .multiple-page-app-body {
        flex-direction: column;
    }
}