.ecom-app-container {
    width: 385px;
    height: 190px;
    margin-bottom: 20px;
}

.hover-btn {
    font-size: 15px;
    font-weight: bold;
    color: #6d6060;
    background-color: #fff;
    padding: 6.5px 10px;
    margin: 0 5px;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
}

.ecom-app-info {
    width: 385px;
    height: 190px;
    color: #fff;
    background: linear-gradient( #00000099, #00000099);
    text-align: center;
    padding-top: 1px;
    display: none;
}

.ecom-app-container:hover .ecom-app-info {
    display: block;
}

@media (max-width: 768px) {
    .ecom-app-container {
        width: 100%;
    }
}