.themes-container {
    width: 390px;
    margin: 15px 0;
    background-color: #fff;
    border-radius: 5px;
}

.themes-container:hover {
    margin-top: -5px;
    box-shadow: #00000029 0px 10px 36px 0px, #0000000f 0px 0px 0px 1px;
    transition: .5s;
}

.themes img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.themes-wrapper {
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
}

.handle-themes {
    padding: 15px 0;
}

.themes-info strong span {
    color: #175891;
    font-size: 20px;
}

.themes-info p {
    color: #000;
    line-height: 30px;
}

.themes-info strong small {
    color: #d81212;
    float: right;
}

.themes-btn {
    color: #fff;
    padding: 10px 23px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.themes-btn a {
    color: #fff;
    text-decoration: none;
}

.live {
    background-color: #175891;
}

.more {
    margin: 0 14px;
    background-color: #175891;
}

.shop {
    background-color: #00C560;
}

.live:hover, .more:hover, .shop:hover {
    background-color: #023b6d;
    transition: .5s;
}

@media (max-width: 768px) {
    .themes-container {
        width: 100%;
    }
}