.themes-container {
    width: 390px;
    margin: 15px 0;
    background-color: #fff;
    box-shadow: #959da533 0px 0px 10px;
}

.themes-container:hover {
    margin-top: -5px;
    transition: .5s;
}

.themes img {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #e4e4e4;
}

.themes-wrapper {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.themes-info strong small, .price {
    color: #dd6060;
}

.themes-info strong, .handle-themes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}

.themes-btn, .themes-btn a {
    color: #6D6060;
    text-decoration: none;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.themes-btn:hover {
    transition: .5s;
    border-bottom: 2px solid #6D6060;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .themes-container {
        width: 100%;
    }
}