.navbar-top-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
    align-items: center;
}

.navbar-top-left {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline-start: 0;
}

.navbar-top-left li {
    list-style: none;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #757575;
    text-transform: uppercase;
}

.navbar-top-left li a {
    color: #c2c2c2;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
}

.navbar-top-left li a:hover {
    color: #bd1010;
}

.navbar-top-left li:last-child {
    border-right: none;
}

.navbar-top-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline-start: 0;
}

.navbar-top-right li {
    color: #c2c2c2;
    list-style: none;
    font-size: 12px;
    font-weight: 600;
    border-right: 1px solid #757575;
}

.navbar-top-right li:last-child {
    border-right: none;
}

.phone {
    padding-right: 15px;
    margin-right: 15px;
}

.left-icon {
    color: #bd1010;
    vertical-align: middle;
}

.right-icon {
    padding-right: 5px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .phone {
        padding-right: 7px;
        margin-right: 7px;
    }
}