.portfolio-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.portfolio-img img {
    width: 450px;
    height: 100%;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .portfolio-container {
        flex-direction: column;
        padding: 10px;
    }
    .portfolio-img img {
        width: 100%;
    }
}